body {
    background-color: #e6cfc1;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.text-colour {
    color: #845708;
}

#title {
    font-size: 7rem;
    line-height: 0.95em;
    z-index: 2;
    position: relative;
}

nav {
    text-transform: uppercase;
    padding: 3em 0 2rem;
    line-height: 1em;
    font-family: sans-serif;
    z-index: 2;
    font-size: 0.8rem;
}

.vl {
    border-left: 1px solid #845708;
    height: 60px;
    text-align: center;
    display:inline-block;
    opacity: 0.5;
    margin-bottom: 4rem;
  }

  .abstract-img {
      position: absolute;
      left: 100px;
      display: block;
      z-index: 1;
      width: 17%;
      opacity: 0.9;
  }

  .blackhole-img {
    position: absolute;
    right: 80px;
    top: 70px;
    display: block;
    z-index: 1;
    width: 16%;
    opacity: 0.9;
  }

  .astro-img {
      width: 29%;
      position: relative;
      bottom: 45px;
  }

  .spaceship-img {
    position: absolute;
    right: 0px;
    z-index: 1;
    width: 22%;
    opacity: 0.7;

  }

  .oil-img {
    position: absolute;
    left: 0px;
    z-index: 1;
    width: 20%;
    opacity: 0.7;
  }