@font-face {
        font-family: 'made_saonara';
        src: url('fonts/made_saonara/made-saonara-webfont.woff2') format('woff2'),
             url('fonts/made_saonara/made-saonara-webfont.woff') format('woff');

}

body {
    background-color: #e6cfc1;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.navbar {
    padding: 3rem 100px 3rem 100px;
    font-weight: bold;
}

.navbar-brand {
    font-size: 1.5rem;
}

.text-colour {
    color: #845708;
}

#title {
    font-size: 5rem;
    padding: 40px 0 50px;
    z-index: 2;
    font-family: 'made_saonara', serif;
    width: 50%;
    margin: auto;
}

#about {
    margin: auto;
    width: 30%;
    text-align: center;
}

#about h1 {
    padding: 3rem;
}

footer {
    padding: 5rem;
}

  .vl-1 {
    border-left: 1px solid #845708;
    height: 60px;
    text-align: center;
    display:inline-block;
    opacity: 0.5;
    margin-top: 4rem;
  }

