body {
    background-color: #e6cfc1;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.text-colour {
    color: #845708;
}

#title {
    font-size: 150px;
    letter-spacing: -0.05em;
    line-height: 1em;
    z-index: 2;
    position: relative;
}

nav {
    text-transform: uppercase;
    padding-top: 3em;
    line-height: 1em;
    font-family: sans-serif;
    z-index: 2;
}

.vl {
    border-left: 1px solid #845708;
    height: 60px;
    text-align: center;
    display:inline-block;
    opacity: 0.5;
    margin: 1rem;
  }

  .astro-img {
      position: absolute;
      left: 50px;
      display: block;
      z-index: 1;
      width: 15%;
      opacity: 0.9;
  }