@font-face {
        font-family: 'made_saonara';
        src: url('fonts/made_saonara/made-saonara-webfont.woff2') format('woff2'),
             url('fonts/made_saonara/made-saonara-webfont.woff') format('woff');

}

body {
    background-color: #e6cfc1;
    font-family: sans-serif;
    text-align: center;
}

.navbar {
    padding: 1.5rem 6rem;
   
}

.navbar-brand {
}

.text-colour {
    color: #845708;
}

.title {
    font-size: 7rem;
    padding: 40px 0 50px;
    z-index: 2;
    font-family: 'made_saonara', serif;
    width: 60%;
    margin: auto;
    position: absolute;
}

.title h1 {
    font-size: 4rem;
    width: 45%;
    margin: auto;
}

#about {
    margin: auto;
    width: 30%;
    text-align: center;
}

#about h1 {
    padding: 3rem;
}

.vl-1 {
    border-left: 1px solid #845708;
    height: 60px;
    text-align: center;
    display:inline-block;
    opacity: 0.5;
    margin-top: 4rem;
  }

.arch1 {
   width: 25%;
   z-index: -1;
   position: relative;
   left: 230px;



}