@font-face {
        font-family: 'made_saonara';
        src: url('fonts/made_saonara/made-saonara-webfont.woff2') format('woff2'),
             url('fonts/made_saonara/made-saonara-webfont.woff') format('woff');

}

body {
    background-color: #e6cfc1;
    font-family: sans-serif;
    text-align: center;
}

.card {
    margin: 5rem;
}

.navbar {
    padding: 1.5rem 6rem;
}

.navbar-brand {
    font-weight: bold;
    opacity: 0.9;
}

.text-colour {
    color: #845708;
}

.title {
    z-index: 2;
    font-family: 'made_saonara', serif;
    font-size: 5rem;
    margin: 6rem 0 2rem;
    line-height: 4rem;
}

.arch1 {
   z-index: -1;
}